%form{ method: 'post',  action: '/iptables', :'accept-charset' => 'UTF-8' }
  Интервал времени &nbsp;
  %input{ type: 'text', name: 'start_time', value: params[:start_time] }
  &nbsp-&nbsp
  %input{ type: 'text', name: 'end_time', value: params[:end_time] }
  &nbsp Сервер &nbsp;
  %select{ name: 'server_name' }
    %option{value: 'support_iptables', selected: params[:server_name]=='support_iptables'}= 'Support'
    %option{value: 'front_iptables', selected: params[:server_name]=='front_iptables'}= 'Front'
    %option{value: 'log_iptables', selected: params[:server_name]=='log_iptables'}= 'LOG'
  &nbsp&nbsp&nbsp
  %input{ type: 'submit', value: 'Найти' }
= will_paginate @iptables, params: ({ start_time: params[:start_time], end_time: params[:end_time], server_name: params[:server_name]} if params[:server_name].present?)
%br
%table{ border: '1' }
  %tr
    %th IP
    %th Время
    %th Сервер
  - @iptables.each do |i|
    %tr
      %td= IPAddr.new(i.src_ip, Socket::AF_INET)
      %td= i.time_moment.strftime('%Y-%m-%d %H:%M:%S')
      %td= i.server_name
